{% extends "index.html" %}
{% block head %}
  <style>
    div.summary {
      height: auto;
      cursor: auto;
      white-space: pre-wrap;
      overflow: hidden;
    }
    div.summary:hover {
      background-color: transparent;
    }
    div.summary.closed {
      height: 45px;
      cursor: pointer;
      padding-left: 5px;
      border-left: 5px solid #DFDFDF;
    }
    div.summary.closed:hover {
      background-color: #EFEFEF;
    }
    img.thumbnail {
      width: 75px;
      height: 75px;
      margin: 0;
    }
  </style>
{% endblock %}
{% block body %}
  <h1 class="page-header">업로더 관리</h1>
  <p>크롤링을 원하는 <b>업로더명</b>(이름 혹은 ID)를 입력해주세요.</p>
  <form class="form-inline" role="form">
    <div class="form-group">
      <label class="sr-only" for="uploader">업로더</label>
      <input type="text" id="uploader" class="form-control" placeholder="업로더명 입력">
    </div>
    <a class="btn btn-success" onclick="addAuthor($('#uploader').val())">추가</a>
  </form>
  <h2 class="sub-header">목록</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>썸네일</th>
        <th style="width: 99%;">정보</th>
        <th>생성일</th>
        <th>수정일</th>
      </tr>
    </thead>
    <tbody>
    {% for author in author_list %}
      <tr>
        <td>{{ author.id }}</td>
        <td>
          <img class="thumbnail" src="{{ author.thumbnail }}">
        </td>
        <td>
          <p style="position: relative;">
            <a href="{{ author.link }}"><b>{{ author.user_name }}</b></a> ({{ author.user_id }})
            <span class="glyphicon glyphicon-trash cursor-pointer" onclick="removeAuthor({{ author.id }})"></span>
            <span style="position: absolute; right: 0px;"><i>crawl by <u>{{ author.bot.name }}</u></i></span>
          </p>
          <div class="summary">{{ author.summary }}</div>
        </td>
        <td>{{ author.published.strftime("%Y/%m/%d %H:%M:%S") }}</td>
        <td>{{ author.updated.strftime("%Y/%m/%d %H:%M:%S") }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <script>
    function addAuthor(uploader) {
        if(uploader == "") {
            alert("업로더명을 입력하세요.")
            return;
        }
        form = $("#postForm")
        form.find("input[name='command']").attr("value", "add")
        form.find("input[name='value']").attr("value", uploader)
        form.submit()
    }

    function removeAuthor(id) {
        var result = confirm("정말 삭제하시겠습니까?")
        if(result == false) return;
        form = $("form#postForm")
        form.find("input[name='command']").attr("value", "remove")
        form.find("input[name='value']").attr("value", id)
        form.submit()
    }
  </script>
{% endblock %}
