{% extends "index.html" %}
{% block head %}
  <style>
    div.summary {
      height: auto;
      cursor: auto;
      white-space: pre-wrap;
      overflow: hidden;
    }
    div.summary:hover {
      background-color: transparent;
    }
    div.summary.closed {
      height: 45px;
      cursor: pointer;
      border-bottom: 5px solid #DFDFDF;
    }
    div.summary.closed:hover {
      background-color: #EFEFEF;
    }
    img.thumbnail {
      width: 75px;
      height: 75px;
      margin: 0;
    }
  </style>
{% endblock %}
{% block body %}
  <h1 class="page-header">봇 관리</h1>
  <h2 class="sub-header">목록</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>이름</th>
        <th>크롤링 간격</th>
        <th>마지막 크롤링</th>
        <th>상태</th>
        <th style="width: 1%;">조작</th>
      </tr>
    </thead>
    <tbody>
    {% for bot in bot_list %}
      <tr>
        <td>{{ bot.id }}</td>
        <td>{{ bot.name }}</td>
        <td>{{ bot.interval }} 분</td>
        <td>{{ bot.last_crawl.strftime("%Y/%m/%d %H:%M:%S") }}</td>
        <td><span class="label label-{{ 'danger' if bot.status == 'stop' else 'success' }}">{{ bot.status }}</span></td>
        <td style="width: 1%; white-space: nowrap;">
          <button onclick="commandToBot({{ bot.id }}, 'wait')" type="button" class="btn btn-xs btn-success">
            <span class="glyphicon glyphicon-play"></span>
          </button>
          <button onclick="commandToBot({{ bot.id }}, 'stop')" type="button" class="btn btn-xs btn-danger">
            <span class="glyphicon glyphicon-stop"></span>
          </button>
          <button type="button" class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-step-forward"></span>
          </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <script>
    function commandToBot(id, command) {
        form = $("form#postForm")
        form.find("input[name='command']").val(command)
        form.find("input[name='value']").val(id)
        form.submit()
    }
  </script>
{% endblock %}
