{% extends "index.html" %}
{% block head %}
  <style>
    div.summary {
      height: auto;
      cursor: auto;
      white-space: pre-wrap;
      overflow: hidden;
    }
    div.summary:hover {
      background-color: transparent;
    }
    div.summary.closed {
      height: 45px;
      cursor: pointer;
      border-bottom: 5px solid #DFDFDF;
    }
    div.summary.closed:hover {
      background-color: #EFEFEF;
    }

    img.entry_thumbnail {
      height: 75px;
    }
  </style>
{% endblock %}
{% block body %}
  <h1 class="page-header">영상 관리</h1>
  <p>등록된 업로더의 영상을 자동으로 크롤링해 보여줍니다.</p>
  <h2 class="sub-header">목록</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>썸네일</th>
        <th>소개</th>
        <th>생성일</th>
        <th>수정일</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in entry_list %}
      <tr>
        <td>{{ entry.id }}</td>
        <td>
          <img class="entry_thumbnail" src="{{ entry.thumbnail_hq }}"><br>
        </td>
        <td>
          <p>
            <a href="{{ entry.player_default }}"><b>{{ entry.title }}</b></a> ({{ entry.video_id }})
          </p>
          <div class="summary">{{ entry.description }}</div>
        </td>
        <td>{{ entry.uploaded.strftime("%Y/%m/%d %H:%M:%S") }}</td>
        <td>{{ entry.updated.strftime("%Y/%m/%d %H:%M:%S") }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
