<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Configure Youtube Crawler</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
      function dl(value) {
          return (value < 10? '0' + value: value)
      }

      function dateFromTimestamp(timestamp) {
          var d = new Date(timestamp)
          return d.getFullYear()+"/"+dl(d.getMonth()+1)+"/"+dl(d.getDay()+1)+"<br>"+
                 dl(d.getHours())+":"+dl(d.getMinutes())+":"+dl(d.getSeconds());
      }
    </script>

  {% block head %}
  {% endblock %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Youtube Crawler</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="{{ 'active' if menu == 'bot' }}"><a href="{{ url_for('bot.index') }}">봇 관리</a></li>
            <li class="{{ 'active' if menu == 'author' }}"><a href="{{ url_for('author.index') }}">업로더 관리</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="{{ 'active' if menu == 'entry' }}"><a href="{{ url_for('entry.index') }}">영상 관리</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% block body %}
          <h1 class="page-header">Dashboard</h1>
          <p>There is no something.</p>
          <h2 class="sub-header">Section title</h2>
          <p>I'm empty, too.</p>
        {% endblock %}
        </div>
      </div>
    </div>

    <form id="postForm" method="post">
      <input type="hidden" name="command">
      <input type="hidden" name="value">
    </form>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
      $("div.summary").click(function() {
          div = $(this)
          if(div.hasClass("closed")) {
            currentHeight = div.height()
            autoHeight = div.css('height', 'auto').height()
            div.height(currentHeight).animate({height: autoHeight}, 100)
            div.removeClass("closed")
          }
      })

      $("div.summary").each(function(index) {
          if($(this).height() > 45) $(this).addClass("closed")
      })

      $(".timestamp").each(function(index) {
          $(this).html(dateFromTimestamp($(this).html()))
      })
    </script>
  </body>
</html>
